/* Обертка для элементов внутри Live Preview */

.zh-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.zh-wrapper-line {
  display: flex;
}

.zh-wrapper-line>div {
  margin-right: 16px;
}

.zh-wrapper>div {
  /* Отступ у DIV-ов только у ближайших потомков .zeroheight-wrapper */
  margin-bottom: 16px;
}

.zh-wrapper.dark .overline.mb8 {
  color: #fff;
}

/* Типографика */
ß .jumbo {
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.h2.bold {
  font-weight: 700;
}

.body-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
}

.body-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.body-10 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.25px;
}

.body-16.medium,
.body-14.medium,
.body-12.medium,
.body-10.medium {
  font-weight: 500;
}

.overline {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Отступы от Overline'ов */

.overline.mb8 {
  margin-bottom: 8px;
}

/* Кнопки → Размеры кнопок */

.btn-l {
  padding: 12px 16px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .25;
  border-radius: 4px;
  cursor: pointer;
}

.btn-ic-l {
  padding: 12px;
  border-radius: 50%;
}

.btn-m {
  padding: 8px 12px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .25;
  border-radius: 4px;
  cursor: pointer;
}

.btn-ic-m {
  padding: 8px;
  border-radius: 50%;
}

.btn-s {
  padding: 4px 8px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: .25;
  border-radius: 4px;
  cursor: pointer;
}

.btn-ic-s {
  padding: 4px;
  border-radius: 50%;
}

/* Иконки и картинки внутри компонентов */

.ic-in-btn-l {
  width: 24px;
  height: 24px;
}

.ic-in-btn-l.left {
  margin-right: 12px;
}

.ic-in-btn-l.right {
  margin-left: 12px;
}

.ic-in-btn-m {
  width: 20px;
  height: 20px;
}

.ic-in-btn-m.left {
  margin-right: 8px;
}

.ic-in-btn-m.right {
  margin-left: 8px;
}

.ic-in-btn-s {
  width: 16px;
  height: 16px;
}

.ic-in-btn-s.left {
  margin-right: 4px;
}

.ic-in-btn-s.right {
  margin-left: 4px;
}

.avatar-m.left {
  margin: -6px 8px -6px -8px;
}

.avatar-s.left {
  margin: -2px 4px -2px -4px;
}

/* Кнопки → Состояния */

.btn-disabled {
  cursor: default;
  opacity: .5;
}

.link {
  color: #505c98;
}

/* Чипсы */

/* Размер M */

.chips-m {
  padding: 6px 8px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100px;
  cursor: default;
}

/* Размер S */

.chips-s {
  padding: 2px 4px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  border-radius: 100px;
  cursor: default;
}

/* Поведение крестика */

.chips-m:hover .ic-cancel,
.chips-s:hover .ic-cancel {
  opacity: 0.5;
}

.chips-m .ic-cancel:hover,
.chips-s .ic-cancel:hover {
  opacity: 0.7;
}

.tags {
  padding: 2px 4px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  cursor: default;
}

/* Свичи */

.switch-group {
  display: flex;
}

.switcher {
  padding: 8px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #cacfe7;
  border-right: none;
  cursor: pointer;
}

.switcher:first-child {
  border-radius: 4px 0 0 4px;
}

.switcher:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #cacfe7;
}