.map-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #F3FDDF;
}

.slice {
  fill: #CDF59D;
  stroke:white;
  stroke-miterlimit: 10;
  transition: all .15s;
}

.slice:hover {
  fill: #BCE1A8;
  cursor: pointer;
  transition: all .15s;
}

.locked {
  fill: #FDF2B5;
}

.slice.locked:hover {
  fill: #E3DFBB;
  transition: all .15s;
}

.sold {
  fill: #F3FDDF;
}

.slice.sold:hover {
  fill: #F3FDDF;
  cursor: default;
}

.map-layer {
  position: absolute;
}

.legend {
  padding: 8px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}

.legend-row {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.legend-row img {
  margin-right: 16px;
}

.compass {
  position: absolute;
  top: 24px;
  left: 24;
}