.container {
  /* Ширина контейнера без общей навигации */
  width: calc(100% - 50px);
}

/* Главное меню */
.gn-btn svg {
  fill: #cacfe7;
}

.gn-btn:hover svg {
  fill: #fff;
}

/* Кнопки → Иконки в кнопках, стили */
.btn-primary svg {
  fill: #fff;
}

.btn-secondary svg,
.btn-text svg {
  fill: #2c3979;
}

/* 👻 Tabs табы */
.w--current .tab-counter {
  color: #fff;
}

/* Селекты → Стрелки в селектах → Черные стрелки (нормал) */
.select svg {
  fill: #0f0f0f;
}

/* Селекты → Стрелки в селектах → Синие стрелки (ховер) */
.select:hover svg {
  fill: #505c98;
}